.iron-filings {
  position: relative;
  overflow: hidden;
}

.iron-filings-canvas {
  position: absolute;
  inset: 0;
}

.iron-filings-content {
  position: relative;
  z-index: 10;
  height: 100%;
  width: 100%;
}
