.polar-haze-container {
  position: relative;
  overflow: hidden;
}

.polar-haze-canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.polar-haze-content {
  position: relative;
  z-index: 1;
}
